#about_container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
}

#image {
    object-fit: fill;
    width: 100%;
    height: 70vh;
    display: block;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

#about-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

#about-text h1 {
    font-size: 48px;
    font-weight: 500;
}

#about-text_b {
    position: absolute;
    bottom: 43px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    width: 50%;
}

#about-text_b p {
    font-size: 17px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
}

#our_story {
    width: auto;
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8%;
}

#story_contain {
    display: grid;
    grid-template-columns: 40% 60%;
    row-gap: 25px;
    color: white;
}

#box1 {
    grid-row: 1/5;
}

.underline h1 {
    border-bottom: 1px solid #ffa853;
    display: inline;
    padding-bottom: 15px;

}

.underline h3 {
    border-bottom: 1px solid #ffa853;
    margin-bottom: 15px;
}

.underline h2 {
    border-bottom: 1px solid #ffa853;
    margin-bottom: 15px;
}

.nest {
    display: grid;
    grid-template-columns: 20% 80%;
    border-top: 1px solid #ffa853;
    padding-top: 20px;
}

p {
    letter-spacing: 1px;
}

#reasons-container {
    width: auto;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
}

#reasons-contain {
    color: white;
    text-align: center;
    align-items: center;
    padding-bottom: 35px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    margin: 20px auto;
}

.grid-item {
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.grid-item h3 {
    color: #ffa853;
    padding-bottom: 15px;
}

#guarantee {
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
}

#guarantee_contain {
    color: white;
    text-align: center;
    align-items: center;
    padding-bottom: 35px;
}

.guarantee_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 20px auto;
}

.guarantee_item {
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.guarantee_item h2 {
    color: #ffa853;
    padding-bottom: 15px;
}

.guarantee_item h2 {
    margin: 0;
}

.guarantee_item p {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}

.guarantee_item:hover {
    transform: scale(1.1);
}

#icon_contain {
    width: auto;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 6%;
}

.icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.icon-item {
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-item h3 {
    margin: 0;
    color: wheat;
    padding-bottom: 10px;
}

.icon-item p {
    padding-top: 10px;
    margin: 0;
}

.icon-item img {
    width: 50px;
    margin-bottom: 10px;
    align-items: center;
}

.icon-item:hover {
    transform: scale(1.1);
}