#about_container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
}

#image {
    object-fit: fill;
    width: 100%;
    height: 70vh;
    display: block;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 170px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

#about-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

#about-text h1 {
    font-size: 60px;
    font-weight: 500;
}

#about-text_b {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    width: 50%;
}

#about-text_b p {
    font-size: 20px;
}

.underline p {
    border-bottom: 1px solid #ffa853;
    display: inline;
    padding-bottom: 8px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
}

#our_story {
    width: auto;
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
}

#story_contain {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 25px;
    color: white;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    background-color: #1c1c1c;
}

#box1 {
    display: grid;
    padding: 10%;

}

#box1 .underline h1 {
    border-bottom: 1px solid #ffffff;
    display: inline;
    padding-bottom: 3%;
}

#box1 h1 {
    display: grid;
    color: #ffa853;
}

#box1 h2 {
    display: grid;
    font-style: italic;
}

#box1 p {
    display: grid;
    padding-top: 5%;
    font-size: 20px;
}

#star h1 {
    color: #ffa853;
    padding-top: 5%;
    letter-spacing: 6px;
}

#box2 img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.underline h1 {
    border-bottom: 1px solid #ffa853;
    display: inline;
    padding-bottom: 8px;
}

#sales-container {
    width: auto;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8%;
}

#sales-contain {
    color: white;
    text-align: center;
    align-items: center;
}

.sales-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
}

.sale-item {
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sale-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.sale-item img {
    width: 100%;
    height: 265px;
    object-fit: cover;
}

.sale-details {
    padding: 15px;
}

.sale-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: wheat;
}

.sale-price {
    font-size: 16px;
    color: #ffffff;
}

.last_gradient_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}


.last_container {
    display: grid;
    height: 80vh;
}

.last_box {
    position: relative;
    overflow: hidden;
}

.last_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial {
    position: absolute;
    top: 50%;
    left: 75%;
    color: white;
    font-style: italic;
    transform: translate(-50%, -50%);
    font-size: larger;
    text-align: right;
    width: 40%;
}

.testimonial h1 {
    padding-bottom: 20px;
    color: #ffa853;
}

.testimonial h5 {
    padding-top: 20px;
    color: wheat;
}

.last_gradient_overlay_right {
    position: absolute;
    top: 0;
    width: 65%;
    height: 100%;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

@media (max-width: 768px) {
    #about-text_b {
        display: none;
    }

    #story_contain {
        display: flex;
        flex-direction: column;
    }

    #box1 {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    #box1 .underline h1 {
        display: block;
        padding-bottom: 6%;
    }

    .sales-container {
        display: flex;
        flex-direction: column;
    }

    .underline h1 {

        display: block;
    }

    .testimonial {
        font-size: 13px;
    }
}