.banner_special {
    background: linear-gradient(105deg, #00ffbd, #7230ce);
    color: #fff;
    text-align: center;
    padding: 10px;
}

.week_container {
    display: flex;
    border: 1px solid #ccc;
    padding: 20px;
}

.item1 {
    flex: 1;
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: start;
    padding: 155px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.item2 {
    flex: 1;
    text-align: center;

}

.item2 img {
    max-width: 100%;
    max-height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


.product-section {
    display: flex;
    gap: 3em;
    justify-content: center;
    padding: 10px;

}

.product {
    flex: 0 0 calc(25% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    color: white;
    text-align: center;
    background-color: rgb(32, 32, 32);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.product-section img {
    max-width: 80%;
}

.product h3 {
    margin: 10px 0;
}