/* 
CSD 1103 - Web Development Project
Name: Meet Ashokbhai Upadhyay
C#: C0916999
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Ubuntu', sans-serif;
}

html {
    font-size: 100%;
}

body {
    background-color: #000000;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation Styling */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #000000;
    border-bottom: 1.5px solid #ffa853;
}

.nav-container {
    margin-right: 2.5vw;
}

li #active {
    color: #ffa853;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
}

.nav-link {
    position: relative;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.nav-link::before,
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ffa853;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

.nav-link::before {
    top: 1px;
    /* Adjust the distance above the text */
    transform-origin: top right;
}

.nav-link::after {
    bottom: 1px;
    /* Adjust the distance below the text */
    transform-origin: bottom right;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.nav-link:hover,
.nav-link:active {
    color: #ffa853;
}


.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
    background-position: center;
}

.logo {
    width: 200px;
    cursor: pointer;
    align-items: center;
    padding-left: 35px;
}

.content {
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 60px;
    font-weight: 350;
    padding-left: 60px;
    padding-right: 60px;
}

.content h2 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 75px;
    color: wheat;
    padding-left: 60px;
    padding-right: 60px;
}

.container {
    height: 30vh;
    background-color: rgb(11, 11, 11);
    padding-left: 80px;
    padding-top: 25px;
}

.container h2 {
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 125%;
    color: white;
}

.container p {
    padding-top: 30px;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    color: white;
    padding-right: 250px;
}

.banner video {
    position: static;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: fill;
}

.action {
    font-size: 1.00em;
    color: #ffa853;
    font-weight: bold;
}

.banner_special {
    background: linear-gradient(105deg, #00ffbd, #7230ce);
    color: #fff;
    text-align: center;
    padding: 10px;
}

.week_container {
    display: flex;
    border: 1px solid #ccc;
    padding: 20px;
}

.item1 {
    flex: 1;
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: start;
    padding: 155px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.item2 {
    flex: 1;
    text-align: center;

}

.item2 img {
    max-width: 100%;
    max-height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


.product-section {
    display: flex;
    gap: 3em;
    justify-content: center;
    padding: 10px;

}

.product {
    flex: 0 0 calc(25% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    color: white;
    text-align: center;
    background-color: rgb(32, 32, 32);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.product-section img {
    max-width: 80%;
}

.product h3 {
    margin: 10px 0;
}

footer {
    font-size: 0.75em;
    text-align: center;
    color: white;
    padding: 0 5em;
    background-color: rgb(11, 11, 11);
    border-top: 2px solid #ffa853;
    padding-top: 4px;
    padding-bottom: 4px;
}

footer a {
    color: #ffa853;
    text-decoration: none;
}