/* 
CSD 1103 - Web Development Project
Name: Meet Ashokbhai Upadhyay
C#: C0916999
22/11/2023
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Ubuntu', sans-serif;
}

html {
    font-size: 100%;
}

body {
    background-color: #000000;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation Styling */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #000000;
    border-bottom: 1.5px solid #ffa853;
}

.nav-container {
    margin-right: 2.5vw;
}

li #active {
    color: #ffa853;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
}

.nav-link {
    position: relative;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.nav-link::before,
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ffa853;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

.nav-link::before {
    top: 1px;
    /* Adjust the distance above the text */
    transform-origin: top right;
}

.nav-link::after {
    bottom: 1px;
    /* Adjust the distance below the text */
    transform-origin: bottom right;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.nav-link:hover,
.nav-link:active {
    color: #ffa853;
}



.logo {
    width: 200px;
    cursor: pointer;
    align-items: center;
    padding-left: 35px;
}

#video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
}

#video {
    object-fit: fill;
    width: 100%;
    height: 100vh;
    display: block;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

#centered-text {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
}

#bottom-text {
    position: absolute;
    bottom: 43px;
    left: 50%;
    transform: translateX(-50%);
    color: wheat;
    text-align: center;
    width: 70%;
}

#centered-text h1 {
    font-size: 60px;
    font-weight: 350
}

#bottom-text h2 {
    font-size: 20px;
    font-weight: normal;
}

.action {
    font-size: 1.00em;
    color: #ffa853;
}

.container {
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
    padding: 60px;
    opacity: 0;
    color: #fff;
    transform: translateY(25px);
    transition: opacity 2s, transform 1s;
}

.container h1 {
    color: white;
}

.container.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/* footer */

footer {
    color: #fff;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #ffa853;
}

.left,
.center,
.right {
    flex: 1;
}

.center {
    text-align: center;
}

.right {
    text-align: center;
}

.right a {
    text-align: center;
    color: #ffa853;
    text-decoration: none;
}

.copyright-symbol {
    font-size: 20px;
    margin-right: 5px;
    color: #ffa853;
}